* {
  margin: 0;
  padding: 0; }

html {
  font-size: 15px; }

body {
  box-sizing: border-box; }

a:link, a:visited {
  text-decoration: none;
  color: #06375f; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.container {
  margin: 2rem 10vw;
  position: relative; }

.row {
  display: flex;
  justify-content: space-between; }

h1 {
  font-size: 1.3rem;
  font-weight: bold; }

.tags {
  display: flex;
  flex-wrap: wrap; }
  .tags__tag {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #06375f;
    border-radius: 0.6rem; }
    .tags__tag:first-child {
      margin-left: 0; }
    .tags__tag > a:link, .tags__tag > a:visited {
      color: #fff; }

.stat {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
  border: 1px solid #06375f; }

.btn {
  border: 0;
  border-radius: 0.6rem;
  padding: 0.5rem;
  background-color: #06375f;
  color: #fff; }
  .btn:hover {
    cursor: pointer; }
  .btn__up {
    background-color: #318742; }
  .btn__down {
    background-color: #873136; }

#feedback-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 100; }

#id_feedback {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 0.6rem;
  padding: 1rem;
  background-color: #0db6da;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold; }
  #id_feedback:hover {
    cursor: pointer; }

.horizontal-center {
  display: flex;
  justify-content: center; }

.input {
  display: block;
  border: 1px solid #7d827f;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.6rem;
  width: 100%;
  position: relative; }
  .input.select {
    width: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .input:focus {
    outline: none;
    border: 1px solid #0db6da; }
  .input.search {
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all .4s;
    position: relative; }
    .input.search:focus {
      width: 100%; }

.title {
  text-align: center;
  border-bottom: 1px solid #7d827f;
  margin-bottom: 2rem; }

.section {
  margin-top: 3rem; }

ul {
  margin: 1rem; }

.filter-results {
  padding: 1rem;
  display: flex;
  align-items: center; }
  .filter-results__heading {
    font-size: 1.3rem; }
  .filter-results__result {
    margin: 0.5rem;
    padding: 0.5rem;
    color: #fff;
    background-color: #06375f; }

.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #06375f;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .nav a:link, .nav a:visited {
    color: #fff; }

.layout__upper,
.comments__comment {
  display: flex; }

.layout__lower {
  margin-left: 3rem;
  margin-right: 3rem; }

.question,
.answer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #cccfd2;
  border-radius: 0.6rem; }

.answer {
  margin-top: 1.5rem; }

.layout__upper {
  margin: 1rem;
  padding-top: 0.5rem;
  background-color: #9fa3a7;
  border-radius: 0.6rem; }

.question-title {
  padding: 1rem; }

.comments__comment {
  padding-top: 0.5rem;
  border-bottom: 2px solid #7d827f; }

.create_comment,
.create_answer {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.display_comment_form,
#id_display_answer_form {
  font-size: 1.2rem; }

.answer.accepted {
  border: 3px solid #873136; }

.accept-flag {
  padding-left: 2rem;
  font-size: 1.5rem;
  color: #873136; }

.question-list__question {
  display: flex;
  border-top: 1px solid #7d827f;
  margin: 1rem;
  padding: 1rem; }
  .question-list__question:last-child {
    border-bottom: 1px solid #7d827f; }
  .question-list__question--detail {
    padding-left: 2rem; }
  .question-list__question--title {
    font-size: 1.3rem; }

.pagination {
  display: flex;
  justify-content: center; }
  .pagination a:link, .pagination a:visited {
    color: #fff; }
  .pagination__link {
    background-color: #06375f;
    margin: 0.5rem;
    padding: 0.5rem; }
  .pagination__link--current {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #06375f; }
