.nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $color-blue;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & a {
        &:link,
        &:visited {
            color: #fff;
        }
    }
}
