* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    box-sizing: border-box;
}

a {
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-blue;
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
