* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    box-sizing: border-box;
}

a {
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-red-bright;

        &.bold {
            font-weight: bold;
        }
    }
}

ul {
    margin: 1rem;
}

h1 {
    font-size: 1.3rem;
    font-weight: bold;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container {
    margin: 2rem 10vw;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
}
