.layout-upper,
.comment {
    display: flex;
}

.layout-lower {
    margin-left: 3rem;
    margin-right: 3rem;
}

.question,
.answer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $color-blue;
    border-radius: 0.6rem;
}

.answer {
    margin-top: 1.5rem;
}

.layout-upper {
    margin: 1rem;
    padding-top: 0.5rem;
    background-color: $color-faded-blue;
    border-radius: 0.6rem;
}

.question-title {
    padding: 1rem;
}

.comment {
    padding-top: 0.5rem;
    border-bottom: 2px solid $color-neon-blue;
    color: $color-white;
}

.create-post {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.display-form {
    font-size: 1.2rem;
}

.answer.accepted {
    border: 3px solid $color-red-bright;
}

.accept-flag {
    padding-left: 2rem;
    font-size: 1.5rem;
    color: $color-red-bright;
}

.new-post {
    background-color: $color-orange;
    border-radius: 0.6rem;
    margin: 1rem;
    padding: 0.5rem;
}
