{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Who Knows</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'site/css/style.css' %}">
        <link rel="icon" href="{%  static 'site/img/favicon.ico' %}" type="image/x-icon">
        <link rel="shortcut icon" href="{%  static 'site/img/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <div class="nav-item">
                    <a href="{% url 'questions:home' %}">Questions</a>
                </div>
                <div class="nav-item">
                    <a href="{% url 'questions:create' %}">Ask</a>
                </div>
                <div class="nav-item">
                    <a href="{% url 'questions:tags_list' %}">Tags</a>
                </div>
                <div class="nav-item">
                    <form action="{% url 'questions:search' %}" method="post">
                        {% csrf_token %}
                        <input class="input search" type="text" name="search" placeholder="Search..." />
                    </form>
                </div>
                {% if user.is_authenticated %}
                    <div class="nav-item">
                        <a href="{% url 'account:profile' %}">Profile</a>
                    </div>
                    <div class="nav-item">
                        <a href="{% url 'account:logout' %}">Logout</a>
                    </div>
                {% else %}
                    <div class="nav-item">
                        <a href="{% url 'account:login' %}">Log In / Sign Up</a>
                    </div>
                {% endif %}
            </nav>
        </header>
        <div class="container">
            <div id="feedback-container">
                <span id="feedback-content">you have to log in</span>
            </div>
            {% block body %}{% endblock body %}
            {% block bottom_body %}{% endblock bottom_body %}
        </div>
    </body>
</html>
