{% extends parent_template|default:"base.html" %}
{% block body %}
    <div class="title">
        <h1>Log in</h1>
    </div>
    <div class="horizontal-center">
        <form method="post">
            {% csrf_token %}
            <input class="input" type="text" name="username" autofocus="" maxlength="254" required="" id="id_username" placeholder="Username">
            <input class="input" type="password" name="password" required="" id="id_password" placeholder="Password">
            <div class="horizontal-center">
                <input type="submit" value="Log in" class="btn" />
            </div>
        </form>
    </div>
    <div class="horizontal-center">
        <span><br />New users can<a href="{% url 'account:create' %}">&nbsp;Sign Up here</a></span>
    </div>
{% endblock body %}
