{% extends parent_template|default:"base.html" %}
{% block body %}
  <h2>Profile - Update</h2>
  <b>Username:</b> {{ user }}
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Update</button>
  </form>
  Up votes recieved for my questions: {{ question_votes_received }}<br />
  Up votes recieved for my comments: {{ comment_votes_received }}
  <section class="latest_questions">
      <h3>My latest questions</h3>
      <ul>
          {% for question in latest_questions %}
              <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a> : {{ question.created_at }}</li>
          {% empty %}
              <li>No Questions yet. Ask a question <a href="{% url 'questions:create' %}">here</a></li>
          {% endfor %}
      </ul>
      {% if latest_questions.count > 0 %}
          View all my questions <a href="{% url 'account:user_questions' %}">here</a>
      {% endif %}
  </section>
{% endblock body %}
