{% extends parent_template|default:"base.html" %}
{% block body %}
    <div class="title">
        <h1>User Profile: {{ profile_user }}</h1>
    </div>
    <div class="row">
        <div class="horizontal-center">
            <form method="post">
                {% csrf_token %}
                <textarea class="input" name="about" cols="40" rows="10" required="" {% if profile_user != user %}readonly{% endif %}
                id="id_about" placeholder="Tell people something about you...">{{ form.about.value }}</textarea>
                {% if profile_user == user %}
                    <div class="horizontal-center">
                        <input type="submit" value="Update" class="btn" />
                    </div>
                {% endif  %}
            </form>
        </div>
        <div>
            <div class="title section">
                <h3>Votes Received</h3>
            </div>
            <div>
                <b>Up votes recieved for my:</b>
                <ul>
                    <li>Questions: {{ question_votes_received }}</li>
                    <li>Comments: {{ comment_votes_received }}</li>
                    <li>Answers: {{ answer_votes_received }}</li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div>
            <div class="title section">
                <h3>My 5 most recent questions</h3>
            </div>
            <div>
                <ul>
                    {% for question in latest_questions %}
                        <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></li>
                    {% empty %}
                        <li>No Questions yet. Ask a question <a href="{% url 'questions:create' %}">here</a></li>
                    {% endfor %}
                </ul>
                {% if latest_questions.count > 0 %}
                    View all my questions <a class="bold" href="{% url 'account:user_questions' %}">here</a>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="title section">
                <h3>My 5 most recent answers</h3>
            </div>
            <div>
                <ul>
                    {% for answer in latest_answers %}
                        <li><a href="{{ answer.question.get_absolute_url }}">{{ answer.question.title }}</a></li>
                    {% endfor %}
                </ul>
                {% if latest_questions.count > 0 %}
                    View all the questions that I have answered <a class="bold" href="{% url 'account:user_answers' %}">here</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
