{% extends parent_template|default:"base.html" %}
{% load staticfiles %}
{% block body %}
    <div id="id_login_redirect" hidden>
        <span>
            You need to login / signup before doing this.
            You can login / signup <a href="{% url 'account:login' %}?next={{ question.question.get_absolute_url }}">here</a>
        </span>
    </div>
    <h2>Question - Detail</h2>
    {{ question.question.title }}<br />
    {{ question.question.content }}<br />
    created by: {{ question.question.user }}
    <h3>Votes:</h3>
    Total votes: <span id="question_vote_total_{{ question.question.id }}">{{ question.question.num_votes }}</span><br />
    {% if question.question.user != user %}
        <section class="vote">
            <form class="vote_form">
                {% csrf_token %}
                <input type="hidden" name="object_id" value="{{ question.question.id }}" readonly="readonly">
                <input type="hidden" name="vote_type" value="question" readonly="readonly">
                <input type="hidden" name="form_url"
                value="{% if question.question.voted %}{% url 'votes:remove_vote' %}{% else %}{% url 'votes:up_vote' %}{% endif %}" />
                <input type="hidden" name="operation" value="{% if question.question.voted %}-1{% else %}1{% endif %}" />
                <input type="submit"
                value="{% if question.question.voted %}Remove my up vote{% else %}Up vote this question{% endif %}" />
            </form>
        </section>
    {% endif %}
    <h3>Tags:</h3>
    {% for tag in question.question.tags.all %}
        {{ tag.name }}<br />
    {% endfor %}
    <div class="comments" id="id_question_comments">
        <h3>Comments:</h3>
        {% for comment in question.comments %}
            <div class="comment">
                <p>{{ comment.content }}</p>
                <p>Commented by: {{ comment.commenter }} - {{ comment.created_at }}</p>
                <p>Total votes: <span id="comment_vote_total_{{ comment.id }}">{{ comment.num_votes }}</span></p>
                {% if comment.commenter != user %}
                    <section class="vote">
                        <form class="vote_form">
                            {% csrf_token %}
                            <input type="hidden" name="object_id" value="{{ comment.id }}" readonly="readonly">
                            <input type="hidden" name="vote_type" value="comment" readonly="readonly">
                            <input type="hidden" name="form_url"
                            value="{% if comment.voted %}{% url 'votes:remove_vote' %}{% else %}{% url 'votes:up_vote' %}{% endif %}" />
                            <input type="hidden" name="operation" value="{% if comment.voted %}-1{% else %}1{% endif %}" />
                            <input type="submit" name="submit"
                            value="{% if comment.voted %}Remove my up vote{% else %}Up vote this comment{% endif %}" />
                        </form>
                    </section>
                {% endif %}
            </div>
            <hr />
        {% endfor %}
    </div>
    <div class="create_comment">
        <a href="#" id="id_display_question_comment_form">Comment on this question</a>
        <form id="id_question_comment_form" hidden>
            {% csrf_token %}
            <input type="hidden" name="object_id" value="{{ question.question.id }}" readonly="readonly" />
            <textarea name="content" cols="40" rows="10" required="" id="id_content"></textarea>
            <input type="hidden" name="comment_type" value="question" readonly="readonly" id="id_comment_type" />
            <input type="submit" value="Post comment" />
        </form>
    </div>
    <div class="create_answer">
        <a href="#" id="id_display_answer_form">Answer this question</a>
        <form id="id_answer_form" hidden>
            {% csrf_token %}
            {{ answer_form.as_p }}
            <input type="hidden" name="create_answer_url" value="{% url 'answers:create_answer' %}" readonly="readonly" />
            <input type="submit" value="Post answer" />
        </form>
    </div>
    <h3>Answers</h3>
    <div class="answers" id="id_answers">
        {% for answer in answers %}
            <div class="answer">
                <p>{{ answer.content }}</p>
                <p>Answered by: {{ answer.user }} - {{ answer.created_at }}</p>
                <p>Total votes: <span id="answer_vote_total_{{ answer.id }}">{{ answer.num_votes }}</span></p>
                {% if answer.user != user %}
                    <section class="vote">
                        <form class="vote_form">
                            {% csrf_token %}
                            <input type="hidden" name="object_id" value="{{ answer.id }}" readonly="readonly">
                            <input type="hidden" name="vote_type" value="answer" readonly="readonly">
                            <input type="hidden" name="form_url"
                            value="{% if answer.voted %}{% url 'votes:remove_vote' %}{% else %}{% url 'votes:up_vote' %}{% endif %}" />
                            <input type="hidden" name="operation" value="{% if answer.voted %}-1{% else %}1{% endif %}" />
                            <input type="submit" name="submit"
                            value="{% if answer.voted %}Remove my up vote{% else %}Up vote this answer{% endif %}" />
                        </form>
                    </section>
                {% endif %}
            </div>
            <hr />
        {% endfor %}
    </div>
{% endblock body %}
{% block bottom_body %}
    <script>
        var comment_url = "{% url 'comments:create_comment' %}",
            user_authenticated = "{{ user.is_authenticated }}";
    </script>
    <script src="{% static 'questions/js/ajax_handler.js' %}"></script>
{%  endblock bottom_body %}
