{% extends parent_template|default:"base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="question-title">
        <h1>{{ question.question.title }}</h1>
    </div>
    <div class="question">
        <div class="layout">
            <div class="layout-upper">
                <div class="stat">
                    <div class="vote-total">{{ question.question.num_votes }}</div>
                    <div>Votes</div>
                    {% if question.question.user != user %}
                        <form class="vote-form">
                            {% csrf_token %}
                            <input type="hidden" name="object_id" value="{{ question.question.id }}" readonly="readonly">
                            <input type="hidden" name="vote_type" value="question" readonly="readonly">
                            <input type="hidden" name="form-url"
                            value="{% if question.question.voted %}{% url 'votes:remove_vote' %}{% else %}{% url 'votes:up_vote' %}{% endif %}" />
                            <input type="hidden" name="operation" value="{% if question.question.voted %}-1{% else %}1{% endif %}" />
                            <input type="button" class="btn submit-vote btn-{% if question.question.voted %}down{% else %}up{% endif %}"
                            value="{% if question.question.voted %}remove vote{% else %}up vote{% endif %}" />
                        </form>
                    {% endif %}
                </div>
                <div>
                    <div class="content">
                        {{ question.question.content }}
                    </div>
                    <div class="tags">
                        {% for tag in question.question.tags.all %}
                            <div class="tags-tag">
                                <a href="{% url 'questions:tagged_questions' slug=tag.slug %}">{{ tag.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="user">
                        Asked on: {{ question.question.created_at }} | Asked by: <a class="bold" href="{% url 'account:profile' username=question.question.user %}">{{ question.question.user }}</a>
                    </div>
                </div>
            </div>
            <div class="layout-lower">
                <div class="comments">
                    {% for comment in question.comments %}
                        <div class="comment">
                            <div class="stat">
                                <div class="vote-total">{{ comment.num_votes }}</div>
                                <div>Votes</div>
                                {% if comment.commenter != user %}
                                    <form class="vote-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="object_id" value="{{ comment.id }}" readonly="readonly">
                                        <input type="hidden" name="vote_type" value="comment" readonly="readonly">
                                        <input type="hidden" name="form-url"
                                        value="{% if comment.voted %}{% url 'votes:remove_vote' %}{% else %}{% url 'votes:up_vote' %}{% endif %}" />
                                        <input type="hidden" name="operation" value="{% if comment.voted %}-1{% else %}1{% endif %}" />
                                        <input type="button" name="submit" class="btn submit-vote btn-{% if comment.voted %}down{% else %}up{% endif %}"
                                        value="{% if comment.voted %}remove vote{% else %}up vote{% endif %}" />
                                    </form>
                                {% endif %}
                            </div>
                            <div>
                                <p>{{ comment.content }}</p><hr />
                                <p>Commented by: <a class="bold" href="{% url 'account:profile' username=comment.commenter %}">{{ comment.commenter }}</a> - {{ comment.created_at }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="create-post">
                    <a href="#" class="display-form">Add a comment</a>
                    <form class="form" hidden="hidden">
                        {% csrf_token %}
                        <input type="hidden" name="object_id" value="{{ question.question.id }}" readonly="readonly" />
                        <textarea name="content" cols="40" rows="10" required=""></textarea>
                        <input type="hidden" name="comment_type" value="question" readonly="readonly" />
                        <input type="hidden" name="form-url" value="{% url 'comments:create_comment' %}" readonly="readonly" />
                        <br /><input type="button" value="Post comment" class="btn submit-post"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2>Answers</h2>
    <div class="create-post">
        <a href="#" class="display-form">Answer this question</a>
        <form class="form" hidden>
            {% csrf_token %}
            {{ answer_form.content }}
            {{ answer_form.user }}
            {{ answer_form.question }}
            <input type="hidden" name="form-url" value="{% url 'answers:create_answer' %}" readonly="readonly" />
            <br /><input type="button" value="Post answer" class="btn submit-post" />
        </form>
    </div>
    <div class="answers" id="id_answers">
        {% for answer in answers %}
            <div id="answer-section-{{ answer.answer.id }}" class="answer {% if answer.answer.accepted %}accepted{% endif %}">
                <div class="layout">
                    <div id="accept-flag-{{ answer.answer.id }}" class="accept-flag" {% if not answer.answer.accepted %}hidden{% endif %}>&#10004; Accepted Answer</div>
                    <div class="layout-upper">
                        <div class="stat">
                            <div class="vote-total">{{ answer.answer.num_votes }}</div>
                            <div>Votes</div>
                            {% if answer.answer.user != user %}
                                <form class="vote-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="object_id" value="{{ answer.answer.id }}" readonly="readonly">
                                    <input type="hidden" name="vote_type" value="answer" readonly="readonly">
                                    <input type="hidden" name="form-url"
                                    value="{% if answer.answer.voted %}{% url 'votes:remove_vote' %}{% else %}{% url 'votes:up_vote' %}{% endif %}" />
                                    <input type="hidden" name="operation" value="{% if answer.answer.voted %}-1{% else %}1{% endif %}" />
                                    <input type="button" name="submit" class="btn submit-vote btn-{% if answer.answer.voted %}down{% else %}up{% endif %}"
                                    value="{% if answer.answer.voted %}remove vote{% else %}up vote{% endif %}" />
                                </form>
                            {% endif %}
                        </div>
                        <div>
                            <div class="content">
                                {{ answer.answer.content }}
                                <hr />
                            </div>
                            <div class="user">
                                <p>Answered by: <a class="bold" href="{% url 'account:profile' username=answer.answer.user %}">{{ answer.answer.user }}</a> - {{ answer.answer.created_at }}</p>
                            </div>
                            <div class="accept">
                                {% if user == question.question.user %}
                                    <form class="accept-form{% if answer.answer.accepted %}--accepted{% endif %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="answer_id" value="{{ answer.answer.id }}" readonly="readonly">
                                        <input type="hidden" name="form-url" value="{% url 'answers:toggle_accept' %}" readonly="readonly">
                                        <input type="button" name="submit" class="btn submit-accept btn-{% if answer.answer.accepted %}down{% else %}up{% endif %}"
                                        value="{% if answer.answer.accepted %}Unaccept answer{% else %}Accept answer{% endif %}" />
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="layout-lower">
                        <div class="comments">
                            {% for comment in answer.comments %}
                                <div class="comment">
                                    <div class="stat">
                                        <div class="vote-total">{{ comment.num_votes }}</div>
                                        <div>Votes</div>
                                        {% if comment.commenter != user %}
                                            <form class="vote-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="object_id" value="{{ comment.id }}" readonly="readonly">
                                                <input type="hidden" name="vote_type" value="comment" readonly="readonly">
                                                <input type="hidden" name="form-url"
                                                value="{% if comment.voted %}{% url 'votes:remove_vote' %}{% else %}{% url 'votes:up_vote' %}{% endif %}" />
                                                <input type="hidden" name="operation" value="{% if comment.voted %}-1{% else %}1{% endif %}" />
                                                <input type="button" name="submit" class="btn submit-vote btn-{% if comment.voted %}down{% else %}up{% endif %}"
                                                value="{% if comment.voted %}remove vote{% else %}up vote{% endif %}" />
                                            </form>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <p>{{ comment.content }}</p><hr />
                                        <p>Commented by: <a class="bold" href="{% url 'account:profile' username=comment.commenter %}">{{ comment.commenter }}</a> - {{ comment.created_at }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="create-post">
                            <a href="#" class="display-form">Add a comment</a>
                            <form class="form" hidden>
                                {% csrf_token %}
                                <input type="hidden" name="object_id" value="{{ answer.answer.id }}" readonly="readonly" />
                                <textarea name="content" cols="40" rows="10" required=""></textarea>
                                <input type="hidden" name="comment_type" value="answer" readonly="readonly" />
                                <input type="hidden" name="form-url" value="{% url 'comments:create_comment' %}" readonly="readonly" />
                                <br /><input type="button" value="Post comment" class="btn submit-post" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div><br />This question has not been answered yet.</div>
        {% endfor %}
    </div>
{% endblock body %}
{% block bottom_body %}
    <script>
        let userAuthenticated = "{{ user.is_authenticated }}";
    </script>
    <script src="{% static 'questions/js/ajax_handler.js' %}"></script>
{%  endblock bottom_body %}
