{% extends parent_template|default:"base.html" %}
{% block body %}
    {% if tagged_by %}
        <div class="filter-results">
            <div class="filter-results__heading">Questions tagged with: </div>
            <div class="filter-results__result">{{ tagged_by }}</div>
        </div>
    {% endif %}
    {% if query_string %}
        <div class="filter-results">
            <div class="filter-results__heading">Questions (Title or Content) containing the phrase: </div>
            <div class="filter-results__result">{{ query_string }}</div>
        </div>
    {% endif %}
    <div class="question-list">
        {% for question in object_list %}
            <div class="question-list__question">
                <div class="stat">
                    <div>{{ question.votes.count }}</div>
                    <div>Votes</div>
                </div>
                <div class="stat">
                    <div>{{ question.answer_set.count }}</div>
                    <div>Answers</div>
                </div>
                <div class="stat">
                    <div>{{ question.num_views }}</div>
                    <div>Views</div>
                </div>
                <div class="question-list__question--detail">
                    <div class="question-list__question--title">
                        <a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
                    </div>
                    <div class="tags">
                        {% for tag in question.tags.all %}
                            <div class="tags__tag">
                                <a href="{% url 'questions:tagged_questions' slug=tag.slug %}">{{ tag.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="question-list__question--user">
                        Asked on: {{ question.created_at }} | Asked by: {{ question.user }}
                    </div>
                </div>
            </div>
        {% empty %}
            <span>
                No Questions yet. Ask a question <a href="{% url 'questions:create' %}">here</a>
            </span>
        {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <div class="pagination__link">
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </div>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <div class="pagination__link--current">{{ i }}</div>
                {% else %}
                    <div class="pagination__link">
                        <a href="?page={{ i }}">{{ i }}</a>
                    </div>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <div class="pagination__link">
                    <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock body %}
