{% extends parent_template|default:"base.html" %}
{% block body %}
    {% if tagged_by %}
        <div class="filter">
            <div class="filter-category">Questions tagged with: </div>
            <div class="filter-query">{{ tagged_by }}</div>
        </div>
    {% elif query_string %}
        <div class="filter">
            <div class="filter-category">Questions (Title or Content) containing the phrase: </div>
            <div class="filter-query">{{ query_string }}</div>
        </div>
    {% elif user_filter %}
        <div class="filter">
            <div class="filter-category">{{ user_filter }}</div>
            <div class="filter-query">{{ user_filter_by }}</div>
        </div>
    {% else %}
        <form action="{% url 'questions:home' %}" method="post" class="categories">
            {% csrf_token %}
            <input type="submit" class="categories-category  {% if not category or category == 'All questions'%}categories-category--active{% endif %}" value="All questions" name="category">
            <input type="submit" class="categories-category {% if category == 'No answers'%}categories-category--active{% endif %}" value="No answers" name="category">
            <input type="submit" class="categories-category {% if category == 'No accepted answers'%}categories-category--active{% endif %}" value="No accepted answers" name="category">
            <input type="submit" class="categories-category {% if category == 'Accepted answers'%}categories-category--active{% endif %}" value="Accepted answers" name="category">
        </form>
    {% endif %}
    <div class="question-list">
        {% for question in object_list %}
            <div class="question-list-question">
                <div class="stat">
                    <div>{{ question.votes.count }}</div>
                    <div>Votes</div>
                </div>
                <div class="stat">
                    <div>{{ question.answer_set.count }}</div>
                    <div>Answers</div>
                </div>
                <div class="stat">
                    <div>{{ question.num_views }}</div>
                    <div>Views</div>
                </div>
                <div>
                    <div>
                        <a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
                    </div>
                    <div class="tags">
                        {% for tag in question.tags.all %}
                            <div class="tags-tag">
                                <a href="{% url 'questions:tagged_questions' slug=tag.slug %}">{{ tag.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        Asked on: {{ question.created_at }} | Asked by: <a class="bold" href="{% url 'account:profile' username=question.user %}">{{ question.user }}</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <span>
                No Questions yet. Ask a question <a href="{% url 'questions:create' %}">here</a>
            </span>
        {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <div class="pagination-link">
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </div>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <div class="pagination-link--current">{{ i }}</div>
                {% else %}
                    <div class="pagination-link">
                        <a href="?page={{ i }}">{{ i }}</a>
                    </div>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <div class="pagination-link">
                    <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock body %}
